body {
    font-family: sans-serif;
}
.try {
    color: palevioletred;
    border-radius: 15px;
    background-color: white;
    border-color: rgb(204, 22, 83);
    float: right;
    margin-bottom: 50px;
    padding: 5px 10px;
    border-width: 0.1px;
}
.Get-Started-For-Free {
    background-color: #e7769c;
    color: white;
    border-radius: 19px;
    border-color: rgb(231, 118, 156);
    padding: 0px 39px ;
    border-width: 0px;
    margin-bottom: 20px;
}
#build-the-community {
    text-align: center;
}
#huddle-newsletter {
    color: rgb(64, 64, 146);
}

.section {
    background-image: url('../images/bg-footer-top-mobile.svg');
    background-repeat: no-repeat;
    background-size: 1460px 360px;
}
/* .p#section*/ .weekly-newspaper { 
    color: rgb(64, 64, 146);
}
button {
    max-width: 100%;
}
.community {
    margin-right: 170px;
}

h3 {
    color: rgb(3, 51, 3);
    text-align: center;
    font-size: 1.7em;
    font-family: sans-serif;
    /* font-weight: 900; */
}
h4 {
    font-size: 1.6em;
    color: rgb(3, 51, 3);
}
 ul {
    list-style: none;
    margin-top: 10px;
}


 #list-inline-block {
     display: inline-block;
 }

.phone-mail  p{
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin-bottom: 10px;
}
.phone-mail li.phone p#section {
    background-image: url('../images/phone.png');
}
.phone-mail li.mail p#section {
    background-image: url('../images/gmail.png');
}

 h1 {
     font-size: 2.9em; 
     font-family: sans-serif;
     margin: 4px 0;
     color: rgb(8, 29, 8);
 }
 #li-img {
     width: 40px;
     height: 34px;
 }
 #illustration {
     width: 400px;
     height: 214.38px;
 }
 
.grow-together {
     background-image: url('../images/bg-section-bottom-desktop-1.svg') ;
     background-repeat: no-repeat;
     background-size: 1440px 260px;
     margin-bottom: 70px;
 }
 .flowing-conversation {
     float: right;
     margin-top: 25px;
 }
 
p {
    font-size: 11px;
    font-family: sans-serif;
}
#section {
    color: white;
    font-size: 12px;
    font-family: none;
}
#section-spam {
    color: white;
    font-size: 12px;
    font-family: none;
    color: rgb(64, 64, 146);
}
.p {
    color: rgb(6, 109, 6);
}
.mockup {
    max-width: 100%;
    margin-left: 22px;
    margin-top: 15px;
}
/*THE FOOTER  STYLES */ 
.attribution { 
    font-size: 15px; 
    text-align: center; 
    color: white;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
